body {
    background-image: url("https://www.solidbackgrounds.com/images/website/950x534/950x534-blue-abstract-noise-free-website-background-image.jpg");
}
nav {
    border: solid 1px black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: darkblue;
    height: 3rem;
}
nav a {
    color: white;
    font-size: 32px;
}
.container {
    border: solid 1px black;
    height: 100vh;
    background-image: url("homepg.png");
    background-repeat: no-repeat;
    background-size: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 12rem;
    margin-top: 2rem;
    border: transparent;
}
.name {
    font-size: 70px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 9px;
    padding-left: 27%;
}
nav a.selected {
    background-color: cornflowerblue;
}
.container2 > div {
    height: 27rem;
    width: 32rem;
    border-radius: 50%;
    background-color: white;
    border: outset 5px black;
}
.container2 {
    text-align:center;
    display: flex;
    justify-content: space-evenly;
}
.about1 {
    margin-top: 25px;
}
.about2 {
    margin-top: 20%;
}
.about3 {
    margin-top: 25px;
}
.abouthead {
    padding-top:7rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    font-weight: bolder;
    color: darkblue;
}
.aboutpara {
    margin-left: 10px;
    margin-right: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 19px;
}
.message {
    height: 20vh;
    width: 30vh;
}
.container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 60vh;
    background-color:aliceblue;
    background-image: url(form.png);
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center;
    margin-left: 43vh;
    margin-top: 15vh;
}
.submit {
    margin-left: 5rem;
}
.contact {
    text-align: center;
}